:root {


  --background-color: hsl(122, 100%, 87%);
  --highlight-color:hsl(122, 100%, 27%);
  --backgroud-color-semi-transparent: hsl(122, 100%, 87%, 0.6);

  --message-border: black solid 6px;


   --message-border-color: hsl(313, 100%, 80%) hsl(213, 100%, 80%);
    --message-border-color-unisex: hsl(139, 100%, 80%) hsl(251, 100%, 80%);
    --message-border-color-boy: hsl(213, 100%, 80%) hsl(190, 100%, 80%);
    --message-border-color-girl: hsl(313, 100%, 80%) hsl(269, 100%, 80%);

--message-border-radius: 5px;
--message-padding: 2dvmin;


--loader-width:18dvw;

}




body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);


    --s: 20dvw; /* control the size */

    --_c: #D7FDD9;
    background:
      conic-gradient(at 50% calc(100%/6),var(--_c) 60deg,#0000 0),
      conic-gradient(at calc(100%/6) 50%,#0000 240deg,var(--_c) 0),
      conic-gradient(from 180deg at calc(100%/6) calc(500%/6),var(--_c) 60deg,#0000 0),
      conic-gradient(from 180deg at calc(500%/6),#0000 240deg,var(--_c) 0) calc(4*.866*var(--s)) 0,
      repeating-linear-gradient(-150deg,#CA99FF 0 calc(100%/6),#0000   0 50%),
      repeating-linear-gradient(-30deg, #99C7FF 0 calc(100%/6),#DCD1B4 0 50%);
    background-size: calc(6*.866*var(--s)) calc(3*var(--s))
  }



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h2 {
  margin:0.2rem 0;
}


button:hover,input:hover,select:hover {
  background: linear-gradient(45deg,rgba(210,210,210,0.8),rgba(255,255,255,1));
}

button, input,select {
  display: inline-block;
  background: linear-gradient(45deg,rgba(210,210,210,0.3),rgba(255,255,255,0.7));
  font-size: 1.05rem;
  border-radius: 5px;
  border: 2px solid rgb(153, 153, 255,0.7);

}
